.nav {
    background-color: #3949ab !important;
}

#about-me-img {
  width: 425px;
  height: 425px;
}

.tabs .indicator {
background-color: #3949ab;
}

.tab .tab a:focus, .tabs .tab a:focus.active {
    background: transparent;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }